<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="assets/css/root.css" />
    <link rel="stylesheet" href="assets/css/ui.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="container">
                <h1 class="logo"><a href="index.html">mr. cleaner</a></h1>
                <nav class="header__nav">
                    <a href="services.html">услуги</a>
                    <a href="about.html">компания</a>
                    <a href="reviews.html">отзывы</a>
                    <a href="contacts.html">контакты</a>
                    <a href="blog.html">блог</a>
                </nav>
                <a href="#" class="btn" data-popup="login">Войти</a>
            </div>
        </header>
        <main>
            <section class="about__sec">
                <div class="container">
                    <h2 class="title__section">о компании</h2>
                    <p class="text fz20">Мы — профессиональная клининговая компания, которая предлагает широкий спектр услуг
                        по уборке для частных лиц и бизнеса. Наша цель — обеспечить чистоту и комфорт в вашем доме или
                        офисе, позволяя вам сосредоточиться на более важных делах.
                    </p>
                    <p class="text fz20">Компания Mr. Cleaner была основана в 2015 году с простой, но важной целью —
                        предоставить людям качественные услуги по уборке, которые помогут им сосредоточиться на более
                        значимых аспектах жизни. Основатель компании, Сергей Иванов, всегда верил в важность чистоты и
                        порядка, как в личном, так и в профессиональном пространстве. Начав с небольшой команды из трех
                        человек, Сергей поставил перед собой задачу обеспечить высокий стандарт чистоты, который бы
                        выделял их среди конкурентов.
                    </p>
                    <p class="text fz20">С самого начала Mr. Cleaner сосредоточился на формировании доверительных отношений с
                        клиентами. Каждая уборка выполнялась с вниманием к деталям, и клиенты быстро начали замечать
                        разницу. Благодаря положительным отзывам и рекомендациям, компания быстро росла, и вскоре
                        команда увеличилась до 15 человек. Важным моментом в развитии компании стало внедрение новых
                        технологий и современного оборудования, что позволило улучшить качество уборки и сократить время
                        выполнения услуг.
                    </p>
                    <p class="text fz20">С течением времени Mr. Cleaner расширил спектр своих услуг, добавив такие
                        направления, как уборка после ремонта и специализированная чистка ковров и мебели. Это позволило
                        привлечь еще больше клиентов, и фирма стала известной не только в своем родном городе, но и за
                        его пределами.
                    </p>
                    <p class="text fz20">Сейчас Mr. Cleaner — это команда высококвалифицированных специалистов, которые
                        продолжают следовать принципам качества и надежности. Мы гордимся тем, что наши клиенты доверяют
                        нам заботу о чистоте своих домов и офисов. Наша история — это история о стремлении к
                        совершенству и о том, как важна чистота в нашей жизни. Мы уверены, что каждый дом и офис
                        заслуживают того, чтобы быть чистыми и уютными, и мы готовы помочь в этом!</p>
                </div>
            </section>
            <section class="chois_as__sec">
                <div class="container">
                    <h2 class="title__section">
                        Почему нам стоит доверить уборку <span>вашей квартиры</span>
                    </h2>
                    <ul class="chois_as__list">
                        <li class="card">
                            <div class="title__calis">
                                <p class="top__text">01</p>
                                <p class="middle__text">Безопасно</p>
                            </div>
                            <p class="text fw500 fz16">
                                Во время уборки исползуем безопасные для здоровья моющие
                                средства
                            </p>
                        </li>
                        <li class="card">
                            <div class="title__calis">
                                <p class="top__text">02</p>
                                <p class="middle__text">оперативно</p>
                            </div>
                            <p class="text fw500 fz16">
                                Приедем уже через 2 часа, уберем квартиру за 6-8 часов, полный
                                комплекс услуг
                            </p>
                        </li>
                        <li class="card">
                            <div class="title__calis">
                                <p class="top__text">03</p>
                                <p class="middle__text">без предоплат</p>
                            </div>
                            <p class="text fw500 fz16">
                                Оплачиваете только по факту, никаких оплат до полного
                                выполнения работ
                            </p>
                        </li>
                        <li class="card">
                            <div class="title__calis">
                                <p class="top__text">04</p>
                                <p class="middle__text">мастерски</p>
                            </div>
                            <p class="text fw500 fz16">
                                Используем лучшее оборудование и моющие средства высшего
                                качества
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="application__sec bg-blue">
                <div class="container">
                    <div class="row">
                        <div class="column">
                            <h2 class="title__section title__section_reverse">
                                Вызвать клининг <br> сэкономить
                                <span>ваше время и силы</span>
                            </h2>
                            <p class="text fw-500">Заполните форму и менеджер свяжется с вами в ближайшее время</p>
                        </div>
                        <div class="column">
                            <form action="add__application">
                                <input type="text" name="name" placeholder="Ваше имя" class="input__cust" required>
                                <input type="text" name="square" placeholder="Площадь помещения в кв.м."
                                    class="input__cust" required>
                                <input type="text" name="phone" placeholder="Контактный телефон" class="input__cust"
                                    required>
                                <input type="submit" value="Оставить заявку" class="btn btn__light">
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <section class="faq__sec">
                <div class="container">
                    <h2 class="title__section">
                        часто задаваемые вопросы <br>и
                        <span>ответы на них</span>
                    </h2>
                    <ul class="faq__list">
                        <li class="faq_acardion__item active">
                            <div class="top__row">
                                <h3 class="questions">Как происходит оплата уборки? Нужна ли предоплата?</h3>
                                <div class="cross"></div>
                            </div>
                            <div class="body">
                                <p>
                                    Расчет с юридическими лицами может производиться по безналичному расчету и наличными
                                    с частными
                                    лицами. С юридическими лицами работаем по предоплате. Но бывают ситуации, когда
                                    заказ срочный и
                                    провести оплату заказчик не успевает. Тогда можно внести залог, предоставить
                                    гарантийное письмо, и
                                    сотрудники нашей клининговой компании начнут работу. С физическими лицами работаем
                                    без предоплаты.
                                    Расчет производится после окончания и приемки результатов работ.
                                </p>
                            </div>
                        </li>
                        <li class="faq_acardion__item">
                            <div class="top__row">
                                <h3 class="questions">Что считается «труднодоступным» местом?</h3>
                                <div class="cross"></div>
                            </div>
                            <div class="body">
                                <p>
                                    Расчет с юридическими лицами может производиться по безналичному расчету и наличными
                                    с частными
                                    лицами. С юридическими лицами работаем по предоплате. Но бывают ситуации, когда
                                    заказ срочный и
                                    провести оплату заказчик не успевает. Тогда можно внести залог, предоставить
                                    гарантийное письмо, и
                                    сотрудники нашей клининговой компании начнут работу. С физическими лицами работаем
                                    без предоплаты.
                                    Расчет производится после окончания и приемки результатов работ.
                                </p>
                            </div>
                        </li>
                        <li class="faq_acardion__item">
                            <div class="top__row">
                                <h3 class="questions">Есть ли у вас ограничения по минимальной стоимости заказа уборки?
                                </h3>
                                <div class="cross"></div>
                            </div>
                            <div class="body">
                                <p>
                                    Расчет с юридическими лицами может производиться по безналичному расчету и наличными
                                    с частными
                                    лицами. С юридическими лицами работаем по предоплате. Но бывают ситуации, когда
                                    заказ срочный и
                                    провести оплату заказчик не успевает. Тогда можно внести залог, предоставить
                                    гарантийное письмо, и
                                    сотрудники нашей клининговой компании начнут работу. С физическими лицами работаем
                                    без предоплаты.
                                    Расчет производится после окончания и приемки результатов работ.
                                </p>
                            </div>
                        </li>
                        <li class="faq_acardion__item">
                            <div class="top__row">
                                <h3 class="questions">Можно ли заказать клининг в выходные и праздники?</h3>
                                <div class="cross"></div>
                            </div>
                            <div class="body">
                                <p>
                                    Расчет с юридическими лицами может производиться по безналичному расчету и наличными
                                    с частными
                                    лицами. С юридическими лицами работаем по предоплате. Но бывают ситуации, когда
                                    заказ срочный и
                                    провести оплату заказчик не успевает. Тогда можно внести залог, предоставить
                                    гарантийное письмо, и
                                    сотрудники нашей клининговой компании начнут работу. С физическими лицами работаем
                                    без предоплаты.
                                    Расчет производится после окончания и приемки результатов работ.
                                </p>
                            </div>
                        </li>
                        <li class="faq_acardion__item">
                            <div class="top__row">
                                <h3 class="questions">У меня есть домашний питомец. Как быть с уборкой?</h3>
                                <div class="cross"></div>
                            </div>
                            <div class="body">
                                <p>
                                    Расчет с юридическими лицами может производиться по безналичному расчету и наличными
                                    с частными
                                    лицами. С юридическими лицами работаем по предоплате. Но бывают ситуации, когда
                                    заказ срочный и
                                    провести оплату заказчик не успевает. Тогда можно внести залог, предоставить
                                    гарантийное письмо, и
                                    сотрудники нашей клининговой компании начнут работу. С физическими лицами работаем
                                    без предоплаты.
                                    Расчет производится после окончания и приемки результатов работ.
                                </p>
                            </div>
                        </li>
                        <li class="faq_acardion__item">
                            <div class="top__row">
                                <h3 class="questions">Должен ли кто-то присутствовать в квартире, пока идёт уборка?</h3>
                                <div class="cross"></div>
                            </div>
                            <div class="body">
                                <p>
                                    Расчет с юридическими лицами может производиться по безналичному расчету и наличными
                                    с частными
                                    лицами. С юридическими лицами работаем по предоплате. Но бывают ситуации, когда
                                    заказ срочный и
                                    провести оплату заказчик не успевает. Тогда можно внести залог, предоставить
                                    гарантийное письмо, и
                                    сотрудники нашей клининговой компании начнут работу. С физическими лицами работаем
                                    без предоплаты.
                                    Расчет производится после окончания и приемки результатов работ.
                                </p>
                            </div>
                        </li>
                        <li class="faq_acardion__item">
                            <div class="top__row">
                                <h3 class="questions">Что подготовить к приходу клинера?</h3>
                                <div class="cross"></div>
                            </div>
                            <div class="body">
                                <p>
                                    Расчет с юридическими лицами может производиться по безналичному расчету и наличными
                                    с частными
                                    лицами. С юридическими лицами работаем по предоплате. Но бывают ситуации, когда
                                    заказ срочный и
                                    провести оплату заказчик не успевает. Тогда можно внести залог, предоставить
                                    гарантийное письмо, и
                                    сотрудники нашей клининговой компании начнут работу. С физическими лицами работаем
                                    без предоплаты.
                                    Расчет производится после окончания и приемки результатов работ.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </main>
        <footer>
            <div class="container">
                <div class="row">
                    <nav class="footer__nav">
                        <a href="services.html">УСЛУГИ</a>
                        <a href="about.html">КОМПАНИЯ</a>
                        <a href="reviews.html">ОТЗЫВЫ</a>
                        <a href="contact.html">КОНТАКТЫ</a>
                        <a href="blog.html">блог</a>
                    </nav>
                    <address class="column">
                        <a class="phone" href="tel: +7 (8412) 365-48-25">+7 (8412) 365-48-25</a>
                        <div class="row">
                            <div class="social__link">
                                <a href="#" class="btn btn__icon"><img src="assets/media/icons/vk.png" alt="vk"></a>
                                <a href="#" class="btn btn__icon"><img src="assets/media/icons/tg.png" alt="tg"></a>
                            </div>
                            <p class="text">НА СВЯЗИ: 9:00 - 20:00
                                ВОСКРЕСЕНЬЕ - ВЫХОДНОЙ</p>
                        </div>
                        <p class="text">г.Пенза, ул. Генерала Глазунова 7, офис 3</p>
                    </address>
                </div>
            </div>
        </footer>
    </div>

    <script src="assets/js/main.js"></script>
</body>

</html>