<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="assets/css/root.css" />
    <link rel="stylesheet" href="assets/css/ui.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="container">
                <h1 class="logo"><a href="index.html">mr. cleaner</a></h1>
                <nav class="header__nav">
                    <a href="services.html">услуги</a>
                    <a href="about.html">компания</a>
                    <a href="reviews.html">отзывы</a>
                    <a href="contacts.html">контакты</a>
                    <a href="blog.html">блог</a>
                </nav>
                <a href="#" class="btn" data-popup="login">Войти</a>
            </div>
        </header>
        <main>
            <section class="blog__sec">
                <div class="container">
                    <h2 class="title__section">БЛОГ</h2>
                    <ul class="blog__list">
                        <li>
                            <a href="article.html?id=1" class="card__article">
                                <img src="assets/media/temp/article/1.png" alt="article">
                                <h3 class="title__article">Что входит в услуги клининга?</h3>
                            </a>
                        </li>
                        <li>
                            <a href="article.html?id=1" class="card__article">
                                <img src="assets/media/temp/article/2.png" alt="article">
                                <h3 class="title__article">C чего начать уборку после ремонта</h3>
                            </a>
                        </li>
                        <li>
                            <a href="article.html?id=1" class="card__article">
                                <img src="assets/media/temp/article/3.png" alt="article">
                                <h3 class="title__article">Что входит в уборку после ремонта</h3>
                            </a>
                        </li>
                        <li>
                            <a href="article.html?id=1" class="card__article">
                                <img src="assets/media/temp/article/4.png" alt="article">
                                <h3 class="title__article">Сухая и влажная уборка: что это значит</h3>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </main>
        <footer>
            <div class="container">
                <div class="row">
                    <nav class="footer__nav">
                        <a href="services.html">УСЛУГИ</a>
                        <a href="about.html">КОМПАНИЯ</a>
                        <a href="reviews.html">ОТЗЫВЫ</a>
                        <a href="contact.html">КОНТАКТЫ</a>
                        <a href="blog.html">блог</a>
                    </nav>
                    <address class="column">
                        <a class="phone" href="tel: +7 (8412) 365-48-25">+7 (8412) 365-48-25</a>
                        <div class="row">
                            <div class="social__link">
                                <a href="#" class="btn btn__icon"><img src="assets/media/icons/vk.png" alt="vk"></a>
                                <a href="#" class="btn btn__icon"><img src="assets/media/icons/tg.png" alt="tg"></a>
                            </div>
                            <p class="text">НА СВЯЗИ: 9:00 - 20:00
                                ВОСКРЕСЕНЬЕ - ВЫХОДНОЙ</p>
                        </div>
                        <p class="text">г.Пенза, ул. Генерала Глазунова 7, офис 3</p>
                    </address>
                </div>
            </div>
        </footer>
    </div>

    <script src="assets/js/main.js"></script>
</body>

</html>