<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="assets/css/root.css" />
    <link rel="stylesheet" href="assets/css/ui.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="container">
          <h1 class="logo"><a href="index.html">mr. cleaner</a></h1>
          <nav class="header__nav">
            <a href="services.html">услуги</a>
            <a href="about.html">компания</a>
            <a href="reviews.html">отзывы</a>
            <a href="contacts.html">контакты</a>
            <a href="blog.html">блог</a>
          </nav>
          <a href="#" class="btn" data-popup="login">Войти</a>
        </div>
      </header>
      <main>
        <section class="start__screen">
          <div class="container">
            <h2 class="title__big">Мы очищаем, вы расслабляетесь!</h2>
            <p class="text fw400 fz20">
              Пока вы занимаетесь чем-то важным, мы наведем порядок в квартире,
              частном доме или офисе, почистим мягкую мебель и помоем окна.
            </p>
            <a href="#" class="btn">Выбрать уборку</a>
          </div>
        </section>
        <section class="chois_as__sec">
          <div class="container">
            <h2 class="title__section">
              Почему нам стоит доверить уборку <span>вашей квартиры</span>
            </h2>
            <ul class="chois_as__list">
              <li class="card">
                <div class="title__calis">
                  <p class="top__text">01</p>
                  <p class="middle__text">Безопасно</p>
                </div>
                <p class="text fw500 fz16">
                  Во время уборки исползуем безопасные для здоровья моющие
                  средства
                </p>
              </li>
              <li class="card">
                <div class="title__calis">
                  <p class="top__text">02</p>
                  <p class="middle__text">оперативно</p>
                </div>
                <p class="text fw500 fz16">
                  Приедем уже через 2 часа, уберем квартиру за 6-8 часов, полный
                  комплекс услуг
                </p>
              </li>
              <li class="card">
                <div class="title__calis">
                  <p class="top__text">03</p>
                  <p class="middle__text">без предоплат</p>
                </div>
                <p class="text fw500 fz16">
                  Оплачиваете только по факту, никаких оплат до полного
                  выполнения работ
                </p>
              </li>
              <li class="card">
                <div class="title__calis">
                  <p class="top__text">04</p>
                  <p class="middle__text">мастерски</p>
                </div>
                <p class="text fw500 fz16">
                  Используем лучшее оборудование и моющие средства высшего
                  качества
                </p>
              </li>
            </ul>
          </div>
        </section>
        <section class="online_calc__sec">
            <div class="container">
                
            </div>
        </section>
      </main>
      <footer>
        <div class="container"></div>
      </footer>
    </div>
  </body>
</html>
