.btn {
  border: none;
  outline: none;
  cursor: pointer;
  width: fit-content;
  padding: 14px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #40d5f0;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  font-family: "Inter";
  transition: 0.3s;

  &:hover {
    color: #40d5f0;
    border-color: #40d5f0;
    background-color: transparent;
  }

  &.active {
    color: #40d5f0;
    border-color: #40d5f0;
    background-color: transparent;
  }

  &.btn__revers {
    background-color: transparent;
    color: #40d5f0;
    border-color: #40d5f0;

    &:hover {
      background-color: #40d5f0;
      color: #333;
      border-color: transparent;
    }

    &.active {
      background-color: #40d5f0;
      color: #333;
      border-color: transparent;
    }
  }

  &.btn__light {
    background-color: #fff;

    &:hover {
      background-color: transparent;
      border-color: #fff;
      color: #fff;
    }

    &.active {
      background-color: transparent;
      border-color: #fff;
      color: #fff;
    }
  }

  &.btn__icon {
    padding: 8px 23px;
    border-radius: 25px;
  }

  &.btn__text {
    padding: 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    color: #40d5f0;

    &:hover {
      border-color: #40d5f0;
    }
  }
}

.title__section {
  font-style: normal;
  font-family: "Inter";
  font-size: 30px;
  font-weight: 500;
  color: #333;
  text-transform: uppercase;
  max-width: 480px;
  width: 100%;

  & > span {
    color: #40d5f0;
  }

  &.title__section_reverse {
    & > span {
      color: #fff;
    }
  }
}

.title__big {
  font-style: normal;
  font-family: "Inter";
  font-size: 60px;
  font-weight: 500;
  color: #333;
  text-transform: uppercase;
  max-width: 720px;
  width: 100%;
}

.text {
  font-family: "Inter";
  color: #333;

  &.fz20 {
    font-size: 20px;
  }

  &.fz16 {
    font-size: 16px;
  }

  &.fw500 {
    font-weight: 500;
  }

  &.fw400 {
    font-weight: 400;
  }
}

.input__cust {
  border: none;
  outline: none;
  background-color: #f9f9f9;
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 15px;
  width: 100%;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  color: #839b9f;

  &::placeholder {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    color: #839b9f;
  }

  &:focus {
    border-color: #40d5f0;
  }

  &.error {
    border-color: #ee0a0a;
  }
}

textarea.input__cust {
  resize: none;
  height: 160px;
}

.file__input {
  display: flex;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.3s;

  &:hover {
    border-color: #40d5f0;
  }

  & input[type="file"] {
    display: none;
  }

  & > p {
    font-weight: 400;
    font-size: 16px;
    font-family: "Inter";
    color: #839b9f;
    display: flex;
    align-items: center;
    gap: 15px;

    & img,
    svg {
      width: 12px;
    }
  }

  & > img {
    height: 50px;
    width: auto;
  }
}

.bg-grey {
  background-color: #f9f9f9;
}

.bg-blue {
  background-color: #40d5f0;
}

.card__expert {
  display: flex;
  flex-direction: column;
  padding: 80px 0px 0px 132px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 20px 5px #33333344;
  max-width: 426px;
  width: 100%;
  background-color: #FFF;

  & > img {
    display: block;
    height: 320px;
    width: auto;
  }

  & > .text__block {
    display: flex;
    position: absolute;
    flex-direction: column;
    gap: 30px;
    left: 60px;
    right: 60px;
    max-width: 163px;

    & > h3 {
      font-weight: 400;
      font-size: 20px;
      color: #333;
    }

    & > p {
      font-weight: 400;
      font-size: 16px;
      color: #333;
    }
  }
}

.card{
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-shadow: 0 0 20px 5px #33333344;
    border-radius: 10px;
    background-color: #FFF;
    gap: 16px;
    max-width: 315px;
    width: 100%;
}

.title__calis{
    position: relative;
    display: flex;
    flex-direction: column;

    & .top__text{
        position: relative;
        z-index: 0;
        font-weight: 600;
        font-size: 60px;
        color: #EFEFEF;
        margin-bottom: -36px;
    }

    & .middle__text{
        position: relative;
        z-index: 1;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 30px;
        color: #333;
    }

    &::after{
        content: "";
        height: 2px;
        max-width: 130px;
        width: 100%;
        background-color: #40d5f0;
    }
}
